data/RNAcompete_sequences.txt
data/htr-selex/RBP1_1.txt
data/htr-selex/RBP1_2.txt
data/htr-selex/RBP1_3.txt
data/htr-selex/RBP1_4.txt
data/htr-selex/RBP2_1.txt
data/htr-selex/RBP2_2.txt
data/htr-selex/RBP2_3.txt
data/htr-selex/RBP2_4.txt
data/htr-selex/RBP3_1.txt
data/htr-selex/RBP3_2.txt
data/htr-selex/RBP3_3.txt
data/htr-selex/RBP3_4.txt
data/htr-selex/RBP4_1.txt
data/htr-selex/RBP4_2.txt
data/htr-selex/RBP4_3.txt
data/htr-selex/RBP4_4.txt
data/htr-selex/RBP5_4.txt
data/htr-selex/RBP6_1.txt
data/htr-selex/RBP6_2.txt
data/htr-selex/RBP6_3.txt
data/htr-selex/RBP6_4.txt
data/htr-selex/RBP7_1.txt
data/htr-selex/RBP7_2.txt
data/htr-selex/RBP7_3.txt
data/htr-selex/RBP7_4.txt
data/htr-selex/RBP8_1.txt
data/htr-selex/RBP8_2.txt
data/htr-selex/RBP8_3.txt
data/htr-selex/RBP8_4.txt
data/htr-selex/RBP9_1.txt
data/htr-selex/RBP9_2.txt
data/htr-selex/RBP9_3.txt
data/htr-selex/RBP9_4.txt
data/htr-selex/RBP10_1.txt
data/htr-selex/RBP10_2.txt
data/htr-selex/RBP10_3.txt
data/htr-selex/RBP11_1.txt
data/htr-selex/RBP11_2.txt
data/htr-selex/RBP11_3.txt
data/htr-selex/RBP11_4.txt
data/htr-selex/RBP12_1.txt
data/htr-selex/RBP12_2.txt
data/htr-selex/RBP12_3.txt
data/htr-selex/RBP12_4.txt
data/htr-selex/RBP13_1.txt
data/htr-selex/RBP13_2.txt
data/htr-selex/RBP13_3.txt
data/htr-selex/RBP13_4.txt
data/htr-selex/RBP14_4.txt
data/htr-selex/RBP15_1.txt
data/htr-selex/RBP15_2.txt
data/htr-selex/RBP15_3.txt
data/htr-selex/RBP15_4.txt
data/htr-selex/RBP16_1.txt
data/htr-selex/RBP16_2.txt
data/htr-selex/RBP16_3.txt
data/htr-selex/RBP16_4.txt
data/htr-selex/RBP17_4.txt
data/htr-selex/RBP18_1.txt
data/htr-selex/RBP18_2.txt
data/htr-selex/RBP18_3.txt
data/htr-selex/RBP18_4.txt
data/htr-selex/RBP19_1.txt
data/htr-selex/RBP19_2.txt
data/htr-selex/RBP19_3.txt
data/htr-selex/RBP19_4.txt
data/htr-selex/RBP20_1.txt
data/htr-selex/RBP20_2.txt
data/htr-selex/RBP20_3.txt
data/htr-selex/RBP20_4.txt
data/htr-selex/RBP21_1.txt
data/htr-selex/RBP21_2.txt
data/htr-selex/RBP21_3.txt
data/htr-selex/RBP21_4.txt
data/htr-selex/RBP22_1.txt
data/htr-selex/RBP22_2.txt
data/htr-selex/RBP22_3.txt
data/htr-selex/RBP22_4.txt
data/htr-selex/RBP23_1.txt
data/htr-selex/RBP23_2.txt
data/htr-selex/RBP23_3.txt
data/htr-selex/RBP23_4.txt
data/htr-selex/RBP24_1.txt
data/htr-selex/RBP24_2.txt
data/htr-selex/RBP24_3.txt
data/htr-selex/RBP24_4.txt
data/htr-selex/RBP25_1.txt
data/htr-selex/RBP25_2.txt
data/htr-selex/RBP25_3.txt
data/htr-selex/RBP25_4.txt
data/htr-selex/RBP26_1.txt
data/htr-selex/RBP26_2.txt
data/htr-selex/RBP26_3.txt
data/htr-selex/RBP26_4.txt
data/htr-selex/RBP27_1.txt
data/htr-selex/RBP27_2.txt
data/htr-selex/RBP27_3.txt
data/htr-selex/RBP27_4.txt
data/htr-selex/RBP28_1.txt
data/htr-selex/RBP28_2.txt
data/htr-selex/RBP28_3.txt
data/htr-selex/RBP29_1.txt
data/htr-selex/RBP29_2.txt
data/htr-selex/RBP29_3.txt
data/htr-selex/RBP29_4.txt
data/htr-selex/RBP30_1.txt
data/htr-selex/RBP30_2.txt
data/htr-selex/RBP30_3.txt
data/htr-selex/RBP30_4.txt
data/htr-selex/RBP31_1.txt
data/htr-selex/RBP31_2.txt
data/htr-selex/RBP31_3.txt
data/htr-selex/RBP31_4.txt
data/htr-selex/RBP32_1.txt
data/htr-selex/RBP32_2.txt
data/htr-selex/RBP32_3.txt
data/htr-selex/RBP32_4.txt
data/htr-selex/RBP33_1.txt
data/htr-selex/RBP33_2.txt
data/htr-selex/RBP33_3.txt
data/htr-selex/RBP33_4.txt
data/htr-selex/RBP34_1.txt
data/htr-selex/RBP34_2.txt
data/htr-selex/RBP34_3.txt
data/htr-selex/RBP34_4.txt
data/htr-selex/RBP35_1.txt
data/htr-selex/RBP35_2.txt
data/htr-selex/RBP35_3.txt
data/htr-selex/RBP35_4.txt
data/htr-selex/RBP36_1.txt
data/htr-selex/RBP36_2.txt
data/htr-selex/RBP36_3.txt
data/htr-selex/RBP36_4.txt
data/htr-selex/RBP37_1.txt
data/htr-selex/RBP37_2.txt
data/htr-selex/RBP37_3.txt
data/htr-selex/RBP37_4.txt
data/htr-selex/RBP38_1.txt
data/htr-selex/RBP38_2.txt
data/htr-selex/RBP38_3.txt
data/htr-selex/RBP38_4.txt
data/htr-selex/RBP39_1.txt
data/htr-selex/RBP39_2.txt
data/htr-selex/RBP39_3.txt
data/htr-selex/RBP39_4.txt
data/htr-selex/RBP40_1.txt
data/htr-selex/RBP40_2.txt
data/htr-selex/RBP40_3.txt
data/htr-selex/RBP40_4.txt
data/htr-selex/RBP41_1.txt
data/htr-selex/RBP41_2.txt
data/htr-selex/RBP41_3.txt
data/htr-selex/RBP41_4.txt
data/htr-selex/RBP42_1.txt
data/htr-selex/RBP42_2.txt
data/htr-selex/RBP42_3.txt
data/htr-selex/RBP43_1.txt
data/htr-selex/RBP43_2.txt
data/htr-selex/RBP43_3.txt
data/htr-selex/RBP43_4.txt
data/htr-selex/RBP44_1.txt
data/htr-selex/RBP44_2.txt
data/htr-selex/RBP44_3.txt
data/htr-selex/RBP44_4.txt
data/htr-selex/RBP45_4.txt
data/htr-selex/RBP46_1.txt
data/htr-selex/RBP46_2.txt
data/htr-selex/RBP46_3.txt
data/htr-selex/RBP46_4.txt
data/htr-selex/RBP47_4.txt
data/htr-selex/RBP48_1.txt
data/htr-selex/RBP48_2.txt
data/htr-selex/RBP48_3.txt
data/htr-selex/RBP48_4.txt
data/htr-selex/RBP49_1.txt
data/htr-selex/RBP49_2.txt
data/htr-selex/RBP49_3.txt
data/htr-selex/RBP49_4.txt
data/htr-selex/RBP50_1.txt
data/htr-selex/RBP50_2.txt
data/htr-selex/RBP50_3.txt
data/htr-selex/RBP50_4.txt
data/htr-selex/RBP51_1.txt
data/htr-selex/RBP51_2.txt
data/htr-selex/RBP51_3.txt
data/htr-selex/RBP52_1.txt
data/htr-selex/RBP52_2.txt
data/htr-selex/RBP52_3.txt
data/htr-selex/RBP52_4.txt
data/htr-selex/RBP53_1.txt
data/htr-selex/RBP53_2.txt
data/htr-selex/RBP53_3.txt
data/htr-selex/RBP53_4.txt
data/htr-selex/RBP54_4.txt
data/htr-selex/RBP55_4.txt
data/htr-selex/RBP56_1.txt
data/htr-selex/RBP56_2.txt
data/htr-selex/RBP56_3.txt
data/htr-selex/RBP56_4.txt
data/htr-selex/RBP57_1.txt
data/htr-selex/RBP57_2.txt
data/htr-selex/RBP57_3.txt
data/htr-selex/RBP58_1.txt
data/htr-selex/RBP58_2.txt
data/htr-selex/RBP58_3.txt
data/htr-selex/RBP59_1.txt
data/htr-selex/RBP59_2.txt
data/htr-selex/RBP59_3.txt
data/htr-selex/RBP59_4.txt
data/htr-selex/RBP60_1.txt
data/htr-selex/RBP60_2.txt
data/htr-selex/RBP60_3.txt
data/htr-selex/RBP60_4.txt
data/htr-selex/RBP61_1.txt
data/htr-selex/RBP61_2.txt
data/htr-selex/RBP61_3.txt
data/htr-selex/RBP62_1.txt
data/htr-selex/RBP62_2.txt
data/htr-selex/RBP62_3.txt
data/htr-selex/RBP62_4.txt
data/htr-selex/RBP63_1.txt
data/htr-selex/RBP63_2.txt
data/htr-selex/RBP63_3.txt
data/htr-selex/RBP63_4.txt
data/htr-selex/RBP64_1.txt
data/htr-selex/RBP64_2.txt
data/htr-selex/RBP64_3.txt
data/htr-selex/RBP64_4.txt
data/htr-selex/RBP65_1.txt
data/htr-selex/RBP65_2.txt
data/htr-selex/RBP65_3.txt
data/htr-selex/RBP65_4.txt
data/htr-selex/RBP66_1.txt
data/htr-selex/RBP66_2.txt
data/htr-selex/RBP66_3.txt
data/htr-selex/RBP66_4.txt
data/htr-selex/RBP67_1.txt
data/htr-selex/RBP67_2.txt
data/htr-selex/RBP67_3.txt
data/htr-selex/RBP67_4.txt
data/htr-selex/RBP68_1.txt
data/htr-selex/RBP68_2.txt
data/htr-selex/RBP68_3.txt
data/htr-selex/RBP68_4.txt
data/htr-selex/RBP69_1.txt
data/htr-selex/RBP69_2.txt
data/htr-selex/RBP69_3.txt
data/htr-selex/RBP69_4.txt
data/htr-selex/RBP70_1.txt
data/htr-selex/RBP70_2.txt
data/htr-selex/RBP70_3.txt
data/htr-selex/RBP70_4.txt
data/htr-selex/RBP71_1.txt
data/htr-selex/RBP71_2.txt
data/htr-selex/RBP71_3.txt
data/htr-selex/RBP72_1.txt
data/htr-selex/RBP72_2.txt
data/htr-selex/RBP72_3.txt
data/htr-selex/RBP73_1.txt
data/htr-selex/RBP73_2.txt
data/htr-selex/RBP73_3.txt
data/htr-selex/RBP73_4.txt
data/htr-selex/RBP74_1.txt
data/htr-selex/RBP74_2.txt
data/htr-selex/RBP74_3.txt
data/htr-selex/RBP74_4.txt
data/htr-selex/RBP75_1.txt
data/htr-selex/RBP75_2.txt
data/htr-selex/RBP75_3.txt
data/htr-selex/RBP75_4.txt
data/htr-selex/RBP76_2.txt
data/htr-selex/RBP76_3.txt
data/RNAcompete_intensities/RBP1.txt
data/RNAcompete_intensities/RBP2.txt
data/RNAcompete_intensities/RBP3.txt
data/RNAcompete_intensities/RBP4.txt
data/RNAcompete_intensities/RBP5.txt
data/RNAcompete_intensities/RBP6.txt
data/RNAcompete_intensities/RBP7.txt
data/RNAcompete_intensities/RBP8.txt
data/RNAcompete_intensities/RBP9.txt
data/RNAcompete_intensities/RBP10.txt
data/RNAcompete_intensities/RBP11.txt
data/RNAcompete_intensities/RBP12.txt
data/RNAcompete_intensities/RBP13.txt
data/RNAcompete_intensities/RBP14.txt
data/RNAcompete_intensities/RBP15.txt
data/RNAcompete_intensities/RBP16.txt
data/RNAcompete_intensities/RBP17.txt
data/RNAcompete_intensities/RBP18.txt
data/RNAcompete_intensities/RBP19.txt
data/RNAcompete_intensities/RBP20.txt
data/RNAcompete_intensities/RBP21.txt
data/RNAcompete_intensities/RBP22.txt
data/RNAcompete_intensities/RBP23.txt
data/RNAcompete_intensities/RBP24.txt
data/RNAcompete_intensities/RBP25.txt
data/RNAcompete_intensities/RBP26.txt
data/RNAcompete_intensities/RBP27.txt
data/RNAcompete_intensities/RBP28.txt
data/RNAcompete_intensities/RBP29.txt
data/RNAcompete_intensities/RBP30.txt
data/RNAcompete_intensities/RBP31.txt
data/RNAcompete_intensities/RBP32.txt
data/RNAcompete_intensities/RBP33.txt
data/RNAcompete_intensities/RBP34.txt
data/RNAcompete_intensities/RBP35.txt
data/RNAcompete_intensities/RBP36.txt
data/RNAcompete_intensities/RBP37.txt
data/RNAcompete_intensities/RBP38.txt
data/RNAcompete_intensities/__MACOSX/._RBP14.txt
dataset/__pycache__/__init__.cpython-310.pyc
dataset/__pycache__/__init__.cpython-312.pyc
dataset/__pycache__/create_dataset.cpython-310.pyc
dataset/__pycache__/create_dataset.cpython-312.pyc
dataset/__pycache__/preprocess.cpython-310.pyc
dataset/__pycache__/preprocess.cpython-312.pyc
dataset/__pycache__/utils.cpython-310.pyc
dataset/__pycache__/utils.cpython-312.pyc
model/__pycache__/model.cpython-310.pyc
model/__pycache__/model.cpython-312.pyc
saved_models/cnn_model.pth
train/__pycache__/__init__.cpython-312.pyc
train/__pycache__/utils.cpython-310.pyc
train/__pycache__/utils.cpython-312.pyc
.vscode/settings.json
1.txt
.vscode/launch.json
.env
